<!doctype html>
<html lang="zh-tw" class="h-100">
{% load static %}
  <head>
    <meRachel Chenta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="統一期貨-Deep Trade | 深度交易平台以視覺化呈現全球經濟的關鍵數據與事件研究，提供完整的市場概況分析。再以AI 模型萃取各類標的的技術面趨勢，輔助投資人解析市場動向，有效提高投資效率。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>統一期貨-Deep Trade | 深度交易</title><!-- 為每個頁面設定唯一的標題 -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family==Noto+Sans+TC&display=swap">
    <!-- fontawesome icon -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <!-- common CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <style>


#pricerank2  {
/*  讓highchart的標題根雙軸不因為zoom圖片的時候被一直反白*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;  
/*  讓highchart的標題根雙軸不因為zoom圖片的時候被一直反白*/

  background-image: url({% static 'img/common/light_logo.png' %});
  background-repeat: no-repeat;
  background-position: 90% 16%;
  background-size: 25%;
}

            i {color: #e60012;} /* icon調色 */ 
        /* 標題樣式 */ 
       header {
              background-color: #FFFAFA;
              padding: 30px;
              text-align: center;
              font-size: 35px;
              color: black;
              }
        /* 標題樣式結束 */ 
            /* 卡片式樣式 */  
            .card {
          transition-delay: 0.2s;
          transition-duration: 0.3s;
          }
            .card:hover {
          box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5);
          transform: translate(0,-7px);
          transition-delay: 0.2s;
          }
          .blur{
          opacity: 0.8;}

          .blur:hover{
          opacity: 1;
          }
            /* 卡片式樣式結束 */  
/* 跑馬燈css */  
.marqee {
  height: 2em;
  margin: 0 auto;
  overflow: hidden; 
  position: relative;
  background: #F5F5F5;
}

.marqee > ul {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  animation: marqee 30s linear infinite;
  position: absolute;
}

.marqee > ul > li {
  white-space: nowrap;
  margin-right: 2em;
  font-weight: bold;
  color: #470024;
}

@keyframes marqee {
  0% {
    left: 100%;
    transform: translateX(0%);
  }

  100% {
    left: 0;
    transform: translateX(-100%);
  }
}
/* 跑馬燈css結束 */  
/* youtube影片嵌入 */ 
      .video-container {

position: relative;

padding-bottom: 56.25%;

padding-top: 30px;

height: 0;

overflow: hidden;

}

.video-container iframe, .video-container object, .video-container embed {

position: absolute;

top: 0;left: 0;

width: 100%;

height: 100%;}
/* youtube影片嵌入結束 */ 

/* countdown */       
#clockdiv{
  color: #4F4F4F;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 8px;
  border-radius: 3px;
  background: #ADADAD;
  display: inline-block;
}

#clockdiv div > span{
  padding: 12px;
  border-radius: 3px;
  background: #ffffff;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
/* countdown結束 */ 
    </style>
    
    <!-- highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- highcharts結束 -->
  </head>
  
  <body class="d-flex flex-column h-100">
  <!-- 導覽列 -->
  {% include header %}
  <!-- 導覽列結束 -->


<div>
  <div style="margin-left:auto;margin-right:auto;"><img src="{% static 'img/home/banner-01.png' %}" width="100%"></div>
</div>


<!-- 跑馬燈內容 -->
  <div id="eco_run" class="marqee" >
   
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function (){
            $.getJSON("{% url 'eco_run' %}", function (data) {
              var num =data.length;
              var tableData ="<ul>"
              for(var i=0;i<num;i++){
                    
                  tableData+="<li>"+data[i]+"</li>"+"<li>|</li>"
                 }
                 tableData+="</ul>"
                 //現在tableData已經生成好了，把他賦值給上面的tbody
                 //console.log(tableData)
                 $("#eco_run").html(tableData)
   
            })
    })
</script>   
<main role="main" class="container">

<div class="row">
<div class="col-md-8">
<section class="bg-light">
  <div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 rounded shadow-sm">
    <div class="lh-100">
      <h5><i class="fa fa-chart-bar" style="color: #e60012"></i><B> 綜合商品行情排行 </B></h5>
      <small style="color:orange">TOP 10</small>
    </div>
  </div>
<div id="pricerank2"  style=" margin: 0 auto"></div>
</div>
<script type="text/javascript">

  Highcharts.createElement('link', {
    href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
    rel: 'stylesheet',
    type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);
Highcharts.theme = {
    colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
        '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
    chart: {
        backgroundColor: null,
        style: {
            fontFamily: 'Dosis, sans-serif'
        }
    },
    title: {
        style: {
            fontFamily: '微軟正黑體',
            margin:'100px',
            fontSize: '25px',
            fontWeight: 'bold',
            textTransform: 'uppercase'
        }
    },
    subtitle: {
        style: {
            fontFamily: '微軟正黑體',
            fontSize: '15px',
            fontWeight: 'bold',
            textTransform: 'uppercase'
        }
    },    
    tooltip: {
        borderWidth: 0,
        backgroundColor: 'rgba(219,219,216,0.8)',
        shadow: false
    },
    legend: {
        fontWeight: 'bold',
        fontFamily: '微軟正黑體',
        itemStyle: {
        fontWeight: 'bold',
        fontSize: '15px'
        }
    },
    xAxis: {        
      title: {
            style: {

                fontFamily: '微軟正黑體',
                ontWeight: 'bold',
                fontSize: '15px',
                textTransform: 'uppercase'
            }
        },
        labels: {
            
            style: {
              fontFamily: '微軟正黑體',
              fontWeight: 'bold',
              fontSize: '15px'
            }
        }
    },
    yAxis: {
        fontWeight: 'bold',
        fontFamily: '微軟正黑體',
        title: {
            style: {

                fontFamily: '微軟正黑體',
                ontWeight: 'bold',
                fontSize: '15px',
                textTransform: 'uppercase'
            }
        },
        labels: {
            style: {
                fontSize: '12px'
            }
        }
    },
    plotOptions: {
        candlestick: {
          fontFamily: '微軟正黑體',
            lineColor: '#404048'
        }
    }
};
// Apply the theme
Highcharts.setOptions(Highcharts.theme);
Highcharts.getJSON("{% url 'home_page' 'sort' %}", function (data) {
  var chart = Highcharts.chart('pricerank2', {
    chart: {
        zoomType: 'x'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ' <a href="http://www.pfcf.com.tw/">Deep Trade - 深度交易 | 統一期貨'
    },
    credits: { enabled:false
     },   //去掉右下角highchart.com
    exporting: { enabled:false
     },   //去掉右上角的打印及导出按钮

    
/*
    subtitle: {
        text: 'Plain'
    },
*/
    xAxis: {
        categories: data.sort.symbol
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: data.sort.pct,
        showInLegend: false
    }]

});
});
</script>
</div>
<div class="col-md-4">
  <div class="row">

<p>
<div style="margin: 0px auto;">下一次FOMC利率決議時間 : </div>
<div id="clockdiv" style="margin: 0px auto;">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hrs</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Min</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Sec</div>
  </div>

</div>
<script type="text/javascript">
  function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}


var deadline = new Date("JULY 30, 2020 02:00:00");   /*Date.parse(new Date()) + 19 * 24 * 60 * 60 * 1000);*/
initializeClock('clockdiv', deadline);
</script>
</div>

 <div class="row">

<div class="container">

</div>
    <script>
    $(document).ready(function (){
     $.getJSON('https://deeptrade.pfcf.com.tw/eco_run/?format=json', function (data) {
     		var num =data.length;

     }

	</script>
    <section id="carouselExampleControls" class="carousel slide " data-ride="carousel" style="margin: 0px auto;">
     <p>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card shadow-sm"style="width: 15rem; margin: 0px auto;">
            <div class="card-header">
              <h6 class="my-0 font-weight-normal">發布時間: 12/2 23:00</h6>
            </div>
            <div class="card-body">
              <h5 class="card-title">ISM製造業指數(美國)</h5>
              <ul class="list-unstyled">
                <li>數據期間: 11月(月數據)</li>
                <li>實際值: 48.1</li>
                <li>預估值: 49.2</li>
                <li>前值: 48.3</li>
                <li>結果: 低於預期</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card shadow-sm" style="width: 15rem; margin: 0px auto;">
            <div class="card-header">
              <h6 class="my-0 font-weight-normal">發布時間: 12/2 23:00</h6>
            </div>
            <div class="card-body">
              <h5 class="card-title">ISM製造業指數(美國)</h5>
              <ul class="list-unstyled">
                <li>數據期間: 11月(月數據)</li>
                <li>實際值: 48.1</li>
                <li>預估值: 49.2</li>
                <li>前值: 48.3</li>
                <li>結果: 低於預期</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card shadow-sm" style="width: 15rem; margin: 0px auto;">
            <div class="card-header">
              <h6 class="my-0 font-weight-normal">發布時間: 12/2 23:00</h6>
            </div>
            <div class="card-body">
              <h5 class="card-title">ISM製造業指數(美國)</h5>
              <ul class="list-unstyled">
                <li>數據期間: 11月(月數據)</li>
                <li>實際值: 48.1</li>
                <li>預估值: 49.2</li>
                <li>前值: 48.3</li>
                <li>結果: 低於預期</li>
              </ul>
            </div>
          </div>
        </div>
      </div>      
 


      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </section>
</div>

</div>
</div>
  

  <div class="container">
<hr>
  <div class="d-flex align-items-center p-3 my-3 text-black-50 rounded shadow-sm">
    <div class="lh-100">
      <h5><i class="fa fa-chart-pie" style="color: #e60012"></i><B> 海外行情看板 </B></h5>
      <small style="color:orange" >DELAYED QUOTES</small>
    </div>
  </div>
<div class="row">
<div class="card-deck">
  <div class="card shadow-sm blur">
    <img src="{% static 'img/home/stock.jpg' %}" class="card-img-top" alt="..." width="340px" height="200px">
    <div class="card-body"> 
      <h5 class="card-title">指數期貨  Equity Index</h5>
      <p class="card-text"><div id="div1">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">商品</th>
      <th scope="col">漲跌幅</th>
      <th scope="col">收盤價</th>
    </tr>
  </thead>
  <tbody id="t_equityindex">
 
  </tbody>
</table>
</div>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card shadow-sm blur">
    <img src="{% static 'img/home/oil.jpg' %}" class="card-img-top" alt="..." width="340px" height="200px">
    <div class="card-body">
      <h5 class="card-title">能源期貨  Energy</h5>
      <p class="card-text"><div id="div1">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">商品</th>
      <th scope="col">漲跌幅</th>
      <th scope="col">收盤價</th>
    </tr>
  </thead>
  <tbody id="t_energy">
    
  </tbody>
</table>
</div></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow-sm blur">
    <img src="{% static 'img/home/wheat.jpg' %}" class="card-img-top" alt="..." width="340px" height="200px">
    <div class="card-body">
      <h5 class="card-title">農產品期貨  Agricultural</h5>
      <p class="card-text"><div id="div1">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">商品</th>
      <th scope="col">漲跌幅</th>
      <th scope="col">收盤價</th>
    </tr>
  </thead>
  <tbody id="t_agricultural">
    
  </tbody>
</table>
</div></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>
        <hr class="featurette-divider"> 
      <div class="card-deck">

  <div class="card shadow-sm blur">
    <img src="{% static 'img/home/coin.jpg' %}" class="card-img-top" alt="..." width="340px" height="200px">
    <div class="card-body"> 
      <h5 class="card-title">匯率期貨  FX</h5>
      <p class="card-text"><div id="div1">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">商品</th>
      <th scope="col">漲跌幅</th>
      <th scope="col">收盤價</th>
    </tr>
  </thead>
    <tbody id="t_fx">
    
  </tbody>
</table>
</div></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card shadow-sm blur">
    <img src="{% static 'img/home/metal.jpg' %}" class="card-img-top" alt="..." width="340px" height="200px">
    <div class="card-body">
      <h5 class="card-title">金屬期貨  Metals</h5>
      <p class="card-text"><div id="div1">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">商品</th>
      <th scope="col">漲跌幅</th>
      <th scope="col">收盤價</th>
    </tr>
  </thead>
  <tbody id="t_metals">
   
  </tbody>
</table>
</div></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow-sm blur">
<img src="{% static 'img/home/rates.jpg' %}" class="card-img-top" alt="..." width="340px" height="200px">
    <div class="card-body">
      <h5 class="card-title">利率期貨  Interest Rates</h5>
      <p class="card-text"><div id="div1">
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">商品</th>
      <th scope="col">漲跌幅</th>
      <th scope="col">收盤價</th>
    </tr>
  </thead>
  <tbody id="t_interestrates">
    
  </tbody>
</table>
</div></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  <div></div>
</section>
</div>
 
</div>
<hr>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function (){

            $.getJSON("{% url 'home_page' 'absolute' %}", function (data) {
              
              for(var j=0;j<6;j++){
                var classfy = Object.keys(data.quote)[j];
                var temp = data.quote[classfy];
                var tableData='';
                
                 //動態增加5個td,並且把data陣列的五個值賦給每個td
                 for(var i=0;i<3;i++){
                    var pct_color ='';
                    var sy = temp.symbol_eg[i]
                    if (temp.pct[i] > 0 ) {
                      pct_color+='<font color="red">';
                    } else if ( temp.pct[i] < 0 ) {
                      pct_color+='<font color="green">';
                    }
                    //console.log(temp.symbol_eg[i]);
                  tableData+="<tr>"+"<th><a href="+"{% url 'indicator' 'tem' %}>".replace('tem', sy)+temp.symbol[i]+"</a></th>"+"<td>"+pct_color+temp.pct[i]+'%'+"</font></td>"+"<td>"+temp.close[i]+"</td>"+"</tr>"
                 }
                 //tableData+="</tr>"
                 //現在tableData已經生成好了，把他賦值給上面的tbody
                 //console.log(tableData)
                 $("#t_"+classfy).html(tableData)            //$("td").attr("href", "http://www.google.com/")
                 
            }})
    })
</script>

<header>
  {% if request.user.is_authenticated %}
  {% csrf_token %}
  <h2>=推薦影音=</h2>
  <h4 style="color: gray">watch video</h4>
</header>
<!--影音嵌入-->
 <div class="row" id="sortable">
 
      <div class="col-md-4">
        <h5 style="color: #0000FF">台灣永續、生技期貨</h5>
        <h6>實踐『永』續生活，把握『生』技風暴</h6>
        <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/pp1X-wi1Uak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>

      <div class="col-md-4">
        <h5 style="color: #0000FF">全球新視野</h5>
          <h6>1090707 經濟數據不佳 股市繼續向上? (刀神)</h6>
        <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/loAtsa86nEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>

      <div class="col-md-4">
        <h5 style="color: #0000FF">贏家開箱系列</h5>
          <h6>這裡有個自由人-上集</h6>
        <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/bwujYlCskjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>
      
  </div>
    <hr>
{% endif %}
<!--影音嵌入結束-->
<!-- /.container -->
</main>

<a href="{% url 'pages' 'learning_map' %}"><img src="{% static 'img/home/banner.png' %}" width="100%"></a>


  <!-- footer -->
{% include footer %}
  <!-- footer結束 -->
  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160598077-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-160598077-1');
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    </body>
</html>
