<footer class="footer mt-auto py-3" style="background-color: #E2E2E2">
{% load static %}
  <div class="container">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3" style="color: #959696">統一期貨 &copy; 2019</small>
      <a href="https://www.facebook.com/president.futures/"><img src="{% static 'img/common/fb.png' %}"></a>
      <a href="https://line.me/R/ti/p/%40bbu3616b"><img src="{% static 'img/common/line.png' %}"></a>
      <a href="https://www.youtube.com/channel/UCaJSetiZxHhUdYksIjr-yfw"><img src="{% static 'img/common/youtube.png' %}"></a>
      <a href="https://www.youtube.com/channel/UCaJSetiZxHhUdYksIjr-yfw"><img src="{% static 'img/common/ig.png' %}"></a>
    </div>
    <div class="col-6 col-md">
      <h5 style="color: #959696">-期貨看盤室-</h5>
      <ul class="list-unstyled text-small">
        <li><a href="{% url 'pages' 'technical_indicators' %}"><img src="{% static 'img/common/icon-01.png' %}"> 多空指標</a></li>
        <li><a href="{% url 'pages' 'pattern_select' %}"><img src="{% static 'img/common/icon-02.png' %}"> AI模型</a></li>
        <li><a href="{% url 'pages' 'quote_sort' %}"><img src="{% static 'img/common/icon-03.png' %}"> 漲跌排行</a></li>
        <li><a href="{% url 'pages' 'txf_toptrader' %}"><img src="{% static 'img/common/icon-03.png' %}"> 大額交易人</a></li>
        <li><a href="{% url 'pages' 'stock_volatility' %}"><img src="{% static 'img/common/icon-03.png' %}"> 股票期貨漲跌排行</a></li>
        <li><a href="{% url 'pages' 'stock_volumn' %}"><img src="{% static 'img/common/icon-03.png' %}"> 股票期貨前30大成交量</a></li>
        <li><a href="{% url 'pages' 'option_oi' %}"><img src="{% static 'img/common/icon-03.png' %}"> 週選支撐與壓力區間</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color: #959696">-數據資料庫-</h5>
      <ul class="list-unstyled">
        <li><a href="{% url 'pages' 'calendar' %}"><img src="{% static 'img/common/icon-13.png' %}"> 財經日曆</a></li>
        <li><a href="{% url 'pages' 'research' %}"><img src="{% static 'img/common/icon-14.png' %}"> 事件研究分析</a></li>
        <li><a href="{% url 'pages' 'holiday' %}"><img src="{% static 'img/common/icon-05.png' %}"> 假期公告</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color: #959696">-學習地圖-</h5>
      <ul class="list-unstyled">
          <li><a href="{% url 'pages' 'learning_map' %}"><img src="{% static 'img/common/icon-06.png' %}"> 認識期權</a></li>
          <li><a href="{% url 'pages' 'learning_map' %}"><img src="{% static 'img/common/icon-07.png' %}"> 程式交易介紹</a></li>
          <li><a href="{% url 'pages' 'learning_map' %}"><img src="{% static 'img/common/icon-08.png' %}"> 國際市場分析</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color: #959696">-關於我們-</h5>
      <ul class="list-unstyled text-small">
          <li><a href="{% url 'pages' 'about_us' %}"><img src="{% static 'img/common/icon-09.png' %}"> 平台特色</a></li>
          <li><a href="https://www.pfcf.com.tw/about"><img src="{% static 'img/common/icon-10.png' %}"> 公司介紹</a></li>
          <li><a href="https://www.pfcf.com.tw/about/detail/156"><img src="{% static 'img/common/icon-11.png' %}"> 聯絡我們</a></li>
      </ul>
    </div>
  </div>
  <div class="row text-muted">
  網站內提供之數據資料、分析工具、網誌內容僅供使用者作為參考，實際數據以官方公佈資料為準。任何交易行為須自行判斷並承擔風險，本網站不負擔盈虧之法律責任。歡迎分享本網站提供之資訊連結，如需轉載內容務必經由本公司同意。</div>
</div>
</footer>